.authorization-links-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	width: 160px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 22px;
	border-radius: 5px;
}

.link--sign-in {
	border: 1px solid var(--secondary-color);
	color: var(--secondary-color);
}

.link--sign-up {
	background-color: var(--secondary-color);
	color: var(--text-color);
}

@media (min-width: 640px) {
	.authorization-links-container {
		justify-content: end;
		gap: 10px;
	}
}
