.form-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--secondary-color);
	height: 44px;
	font-size: var(--font-standard);
	line-height: 22px;
}

.form-button[disabled] {
	opacity: 0.8;
	cursor: not-allowed;
}
